*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
}
.bg-red {
    background-color: hsl(338, 100%, 48%);
}

.cake{
    text-align: center;
    padding: 1%;
}

.boton{
    background: rgb(227, 26, 83);
    color: aliceblue;
    border-radius: 10%;
    border: none;
    padding: 10px;
}

.contacto{
    margin-top: 7%;

}